<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <br></br> New Task
  <%= link_to 'New Task', new_project_task_path(@project) %>
  <br></br>
      <% if @project.tasks.any? %>
        <h2>Tasks:</h2>
        <% @project.tasks.each do |task| %>
          <div>
            <%= render partial: 'tasks/task', locals: {task: task} %>
            <%= link_to "View Task", project_task_path(@project, task) %>
            <!-- Add other task details you want to display -->
          </div>
          <hr>
        <% end %>
      <% else %>
        <p>No tasks for this project.</p>
      <% end %>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
